// Application specific styles for werk86
// --------------------------------------

 body {
  padding-bottom: 60px;
    //background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABtJREFUeNpi/P//PwM2wMSAA9BagpGR0QkgwAC+uANOnTZyJwAAAABJRU5ErkJggg==);

}

body > header {
  border-top: 10px solid @appBlue;
  #brandname {
    display: block;
    .size(163px, 166px);
    margin: -10px @baseLineHeight @baseLineHeight 0;
    border: 1px solid @appBlueLight;
    background:url(../assets/img/logo.jpg) no-repeat 0 0 transparent;
    text-indent: 9999px;
    overflow: hidden;
  }
  p {
    color: @appBlue;
    padding: @baseLineHeight;
    font-size: 16px;
    a {
      color: @appBlue;
    }
  }
}

/* Custom container */
.container {
  margin: 0 auto;
  //max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
    h3 {
      color: @appBlueLight;
      font-size: 40px;
      line-height: 1;
      span {
        color: @appBlue;
      }
    }
    .lead {
      font-size: 24px;
      line-height: 1.25;
    }
    .btn {
      font-size: 24px;
      padding: 14px 24px;
      .border-radius(0px);
      width: 120px;
      margin-right: @baseLineHeight;
      font-family: 'OswaldBook';
    }
}

#marketing {
  .bigpoint {
    .square(240px);
    .center-block();
    border: 10px solid @grayLighter;
  }
  h2 {
    font-family: 'OswaldBook';
    color: @appBlue;
    margin-left:@baseLineHeight * 3;
  }
  ul {
    margin-left:@baseLineHeight * 3;
  }
}

#portfolio {
  background: @appBlue;
  color: @white;
  text-align: center;
}

#footer {
  h4 {
    font-family: 'OswaldBook';
    color: @appBlue;
  }
}